<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Registration Type</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Choose Registration Type</h1>
    <div>
        <h2>Register as:</h2>
        <ul>
            <li><a href="/register/user">Regular User</a></li>
            <li><a href="/register/admin">Administrator</a></li>
        </ul>
    </div>
    <p>Sudah punya akun? <a href="/login">Login</a></p>
</body>
</html>
